$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


.ng-cloak {
    display: none;
}
a img
{
    border: none;
}
.clearfix:before,.clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearfix:after
{
    clear: both;
}
.clearfix
{
    zoom: 1;
}
a.button
{
    background: linear-gradient(#e74c3c,#d13e2f);
    background: -moz-linear-gradient(#e74c3c,#d13e2f);
    background: -o-linear-gradient(#e74c3c,#d13e2f);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e74c3c), color-stop(100%, #d13e2f));
    background: -webkit-linear-gradient(#e74c3c,#d13e2f);
    border: 1px solid #e74c3c \9;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    color: #fff;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE74C3C', endColorstr='#FFD13E2F');
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    moz-border-radius: 5px;
    moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    ms-border-radius: 5px;
    o-border-radius: 5px;
    padding: 8px 12px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    webkit-border-radius: 5px;
    webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    width: 130px;
    zoom: 1;
    cursor: pointer;
}
a.button:active
{
    position: relative;
    top: 1px;
}
a.button:hover,a.button:visited
{
    color: #fff;
    text-decoration: none;
}
div.wall
{
    margin-top: 20px;
    padding-bottom: 40px;
    position: relative;
    background: #f4fbfd;
    border: 1px solid #dcdfe0;
}
@media (max-width: 320px)
{
    div.wall
    {
        margin-left: 9px;
    }
}
div.wall a.load-more
{
    left: 50%;
    margin-left: -77px;
    position: relative;
    text-align: center;
    clear: both;
}
div.wall-item
{
    background: #fff;
    border: 1px solid #f0f0f0 \9;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    color: #c3c8cc;
    float: left;
    margin: 6px;
    moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    overflow: hidden;
    webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    width: 300px;
}
@media (max-width: 320px)
{
    div.wall-item
    {
        padding: 5px;
    }
}
div.wall-item img.asset
{
    border: 1px solid #e2e2e2;
    cursor: pointer;
    width: 100%;
}
div.wall-item div.like
{
    background: white;
    border: 1px solid #f0f0f0 \9;
    border-radius: 50px;
    box-shadow: 0 -2px 3px rgba(0,0,0,0.2);
    color: #e5e6e7;
    cursor: pointer;
    display: block;
    font-size: 26px;
    height: 48px;
    line-height: 46px;
    margin: 0 auto;
    moz-border-radius: 50px;
    moz-box-shadow: 0 -2px 3px rgba(0,0,0,0.2);
    ms-border-radius: 50px;
    o-border-radius: 50px;
    position: relative;
    text-align: center;
    top: -24px;
    vertical-align: middle;
    webkit-border-radius: 50px;
    webkit-box-shadow: 0 -2px 3px rgba(0,0,0,0.2);
    width: 48px;
}
div.wall-item div.like:hover,div.wall-item div.like.active
{
    color: #fbef5f;
}
div.wall-item div.meta
{
    font-size: 12px;
    position: relative;
    text-align: center;
    top: -20px;
}
div.wall-item div.meta img
{
    margin-right: 5px;
    position: relative;
    top: 1px;
}
div.wall-item div.meta span.username
{
    color: black;
}
div.wall-item p
{
    display: block;
    font-size: 11px;
    font-weight: medium;
    line-height: 1.3;
    position: relative;
    text-align: center;
    top: -10px;
    padding: 0 10px;
    word-wrap: break-word;
}
div.wall-item .likes
{
    color: #888;
    display: block;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}