<div class="header">
  <h3 class="text-muted">Chute API Test w/Angular</h3>
</div>


<div class="wall" ng-app="Test" ng-controller="MainCtrl">
  <div class="wall-item" ng-repeat="asset in assets">
    <img ng-src="{{asset.url}}/w/300" width="300">

    <div class="like icon-star" ng-class="{'active': asset.hearted()}" ng-click="asset.toggleHeart()">
      
    </div>
    <p>{{asset.caption}}</p>
    <ng-pluralize class="likes" count="asset.hearts" when="{'one':'1 like', 'other':'{} likes'}">
    </ng-pluralize>
  </div>
  <a class="load-more button" ng-show="assets.hasMore()" ng-click="assets.nextPage()">Load more</a>
</div>